body {
  font-family: Arial, sans-serif;
  background: url("../Image/bg.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.custom-container {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 95%;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group small {
  display: block;
  margin-top: 5px;
  color: #888888;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

p {
  margin-top: 20px;
  color: #555555;
}

p a {
  color: #350bdf;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
